<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <form action="/add/product" method="post" enctype="multipart/form-data">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" required><br><br>
        <label for="productPrice">Product Price:</label>
        <input type="text" id="productPrice" name="productPrice" required><br><br>
        <label for="productStock">Product Stock:</label>
        <input type="text" id="productStock" name="productStock" required><br><br>
        <label for="productDescription">Product Description:</label>
        <input type="text" id="productDescription" name="productDescription" required><br><br>
        <label for="productCategory">Product Category:</label>
        <input type="text" id="productCategory" name="productCategory" required><br><br>
        <label for="productImage">Product Image:</label>
        <input type="file" id="productImage" name="productImage" required><br><br>
        <button type="submit">ADD PRODUCT</button>
    </form>
</body>

</html>